RewriteEngine On

DirectoryIndex index.html
Options +MultiViews
DirectorySlash Off

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.dplate.de/$1 [R=301,L]

RewriteBase /
RewriteRule ^(.*)/$ /$1 [L,R=301]

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI}/index.html -f
RewriteRule ^(.*)$ /$1/index.html [L]

RewriteRule ^photos/(.*)/.*_(.*)\.jpg$ photos/$1/$2.jpg

ErrorDocument 404 /404

<FilesMatch "\.(jpg|png|svg|ico)$">
    Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>

<FilesMatch "^[^/]*\.js$">
    Header set Cache-Control "public, max-age=31536000, immutable"
</FilesMatch>

Redirect 301 /start https://www.dplate.de
Redirect 301 /sbanleit.html https://www.dplate.de/games/schiffbruch
Redirect 301 /schiffbruch https://www.dplate.de/games/schiffbruch
Redirect 301 /schiffbruchfaq/schiffbruchfaq.htm https://www.dplate.de/games/schiffbruch
Redirect 301 /schiffbruchfaq/gegenstaende.htm https://www.dplate.de/games/schiffbruch
Redirect 301 /cannonhill https://www.dplate.de/games/cannonhill
Redirect 301 /scapemaker/home_e.html https://www.dplate.de/tools/scapemaker
Redirect 301 /scapemaker/index_e.html https://www.dplate.de/tools/scapemaker
Redirect 301 /scapemaker https://www.dplate.de/tools/scapemaker
Redirect 301 /kensentme/kensentme.jnlp https://www.dplate.de/tools/kensentme
Redirect 301 /kensentme/ https://www.dplate.de/tools/kensentme
Redirect 301 /kensentme https://www.dplate.de/tools/kensentme
Redirect 301 /java.html https://www.dplate.de
Redirect 301 /javae.html https://www.dplate.de
Redirect 301 /alpine/alvier/20140907 https://www.dplate.de/alpine/alviergruppe/20140907
Redirect 301 /alpine/sulzfluh https://www.dplate.de/alpine/praettigau
Redirect 301 /photos/sulzfluh https://www.dplate.de/photos/praettigau
Redirect 301 /alpine/davos/20151031 https://www.dplate.de/alpine/praettigau/20151031
Redirect 301 /photos/davos/20151031 https://www.dplate.de/photos/praettigau/20151031
Redirect 301 /alpine/speer https://www.dplate.de/alpine/toggenburg
Redirect 301 /photos/speer https://www.dplate.de/photos/toggenburg
Redirect 301 /alpine/andermatt https://www.dplate.de/alpine/gotthard
Redirect 301 /photos/andermatt https://www.dplate.de/photos/gotthard
Redirect 301 /alpine/airolo https://www.dplate.de/alpine/gotthard
Redirect 301 /photos/airolo https://www.dplate.de/photos/gotthard
Redirect 301 /alpine/hoher-freschen https://www.dplate.de/alpine/laterns
Redirect 301 /photos/hoher-freschen https://www.dplate.de/photos/laterns
redirectMatch  301 ^/photos$ https://www.dplate.de/showcase
